<% if current_user then %>
  <p>Hello
    <%= current_user.name %>
    - 
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  </p>
<% else %>
  <p>
    <%= link_to "Sign in to create articles", "/auth/facebook", id: "sign_in" %>
  </p>  
<% end %>
